body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color-box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 20px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.key {
    background-color: white;
}
